In [1]:
import pandas as pd
import numpy as nb
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(rc={'figure.figsize':(16,8)})

In [47]:
dfs = {}

#This'll take a bit
dfs['csf'] = pd.read_csv('../data/2020_05_04/trace/trace_csf.csv')
dfs['fly_remote'] = pd.read_csv('../data/2020_05_04/trace/trace_fly_remote.csv')
dfs['jdbc'] = pd.read_csv('../data/2020_05_04/trace/trace_jdbc.csv')
dfs['local'] = pd.read_csv('../data/2020_05_04/trace/trace_local.csv')
dfs['osb'] = pd.read_csv('../data/2020_05_04/trace/trace_osb.csv')
dfs['remote_process'] = pd.read_csv('../data/2020_05_04/trace/trace_remote_process.csv')

In [61]:
def convert_time(df):
    df['startTime'] = pd.to_datetime(df['startTime'], unit='ms')
    return df

In [60]:
for df in dfs.keys():
    print('-'*50)
    print(df + ':')
    cols = list(set(['cmdb_id', 'serviceName','success']) & set(dfs[df].columns))
    print(dfs[df].loc[:,cols].describe())

--------------------------------------------------
csf:
       serviceName     cmdb_id  success
count      3650205     3650205  3650205
unique           5           6        1
top        csf_003  docker_001     True
freq        730041      730772  3650205
--------------------------------------------------
fly_remote:
           serviceName     cmdb_id success
count           730041      730041  730041
unique               1           4       1
top     fly_remote_001  docker_001    True
freq            730041      182693  730041
--------------------------------------------------
jdbc:
           cmdb_id   success
count     18991914  18991914
unique           7         1
top     docker_006      True
freq       3650233  18991914
--------------------------------------------------
local:
             serviceName     cmdb_id   success
count           14600820    14600820  14600820
unique                15           7         1
top     local_method_004  docker_001      True
freq             2920164     2557702  14600820
--------------------------------------------------
osb:
       serviceName cmdb_id success
count       730041  730041  730041
unique           1       2       1
top        osb_001  os_021    True
freq        730041  365022  730041
--------------------------------------------------
remote_process:
       serviceName     cmdb_id  success
count      3650205     3650205  3650205
unique           5           7        1
top        csf_003  docker_006     True
freq        730041     1460088  3650205

,callType,startTime,elapsedTime,success,traceId,id,pid,cmdb_id,serviceName
0,CSF,2020-05-03 16:00:00.025,733.0,True,8f5b6171db4404104802,b4844171db4404194809,25611171db4404104803,os_021,csf_001
1,CSF,2020-05-03 16:00:00.026,1469.0,True,d49ae171db4404133724,ad8f4171db44041a3727,29229171db4404133725,os_021,csf_001
2,CSF,2020-05-03 16:00:00.027,1112.0,True,1da4c171db4404134276,75548171db44041b4279,5ecec171db4404134277,os_021,csf_001
3,CSF,2020-05-03 16:00:00.028,1110.0,True,1c094171db4404154872,4f51b171db44041c4877,08fa5171db4404154873,os_022,csf_001
4,CSF,2020-05-03 16:00:00.028,721.0,True,a1348171db4404164806,6ad78171db44041c4811,82b97171db4404164807,os_021,csf_001