In [9]:
import pandas as pd
import numpy as nb
import matplotlib.pyplot as plt
import seaborn as sns

import os

sns.set(rc={'figure.figsize':(16,8)})

#Change this to your data directory
data_dir = '../data/train_data/trace/'

In [34]:
datasets = {}
for x in os.listdir(data_dir):
    datasets[x] = pd.read_csv(data_dir + x)

In [37]:
for i in datasets:
    datasets[i] = datasets[i].sort_values(by=['traceId','startTime'])
    print(datasets[i].shape)

(18991914, 9)
(3650205, 9)
(14600820, 10)
(3650205, 9)
(730041, 9)
(730041, 9)

In [52]:
print(datasets.keys())

dict_keys(['trace_jdbc.csv', 'trace_csf.csv', 'trace_local.csv', 'trace_remote_process.csv', 'trace_osb.csv', 'trace_fly_remote.csv'])

In [53]:
datasets['trace_jdbc.csv']

,callType,startTime,elapsedTime,success,traceId,id,pid,cmdb_id,dsName
10633369,JDBC,1588570518965,3.0,True,00004171de2e758c4842,a52e4171de2e75b52863,cbcfc171de2e75b52860,docker_006,db_003
10633378,JDBC,1588570518972,2.0,True,00004171de2e758c4842,fa2fe171de2e75bc2880,cbcfc171de2e75b52860,docker_006,db_003
10633404,JDBC,1588570519004,2.0,True,00004171de2e758c4842,89bdd171de2e75dc2926,cbc31171de2e75dc2923,docker_006,db_003
10633414,JDBC,1588570519012,2.0,True,00004171de2e758c4842,c77f4171de2e75e42943,cbc31171de2e75dc2923,docker_006,db_003
10633425,JDBC,1588570519026,2.0,True,00004171de2e758c4842,6d325171de2e75f22970,cb38e171de2e75ee2953,docker_006,db_003
...,...,...,...,...,...,...,...,...,...
14237180,JDBC,1588587021248,0.0,True,ffffd171df2a43199178,83a37171df2a43c07618,da6ae171df2a43bf7615,docker_003,db_009
14237181,JDBC,1588587021249,1.0,True,ffffd171df2a43199178,a0d77171df2a43c17623,6faa5171df2a43c17620,docker_003,db_009
14237184,JDBC,1588587021251,3.0,True,ffffd171df2a43199178,b92ea171df2a43c37635,6a842171df2a43c37632,docker_003,db_007
14237185,JDBC,1588587021251,0.0,True,ffffd171df2a43199178,bea2b171df2a43c37630,bf942171df2a43c27627,docker_003,db_009
14237199,JDBC,1588587021258,2.0,True,ffffd171df2a43199178,b47af171df2a43ca7640,6a842171df2a43c37632,docker_003,db_007

In [56]:
df_single_trace = pd.DataFrame(columns=datasets[list(datasets.keys())[0]].columns)
for i in datasets:
    df_single_trace = df_single_trace.append(datasets[i][datasets[i].traceId == '00004171de2e758c4842'], ignore_index=True)

In [58]:
df_single_trace.sort_values('startTime')
for i in range(df_single_trace.shape[0]):

,callType,startTime,elapsedTime,success,traceId,id,pid,cmdb_id,dsName,serviceName
56,OSB,1588570518924,380.0,True,00004171de2e758c4842,3b2a9171de2e758c4843,None,os_021,NaN,osb_001
26,CSF,1588570518929,338.0,True,00004171de2e758c4842,2d6ca171de2e75914849,3b2a9171de2e758c4843,os_021,NaN,csf_001
51,RemoteProcess,1588570518930,336.0,True,00004171de2e758c4842,6f699171de2e75921822,2d6ca171de2e75914849,docker_004,NaN,csf_001
57,FlyRemote,1588570518932,5.0,True,00004171de2e758c4842,a41a9171de2e75941824,6f699171de2e75921822,docker_004,NaN,fly_remote_001
27,CSF,1588570518938,44.0,True,00004171de2e758c4842,2b0d6171de2e759a1828,6f699171de2e75921822,docker_004,NaN,csf_002
52,RemoteProcess,1588570518942,39.0,True,00004171de2e758c4842,ffa48171de2e759e2825,2b0d6171de2e759a1828,docker_006,NaN,csf_002
31,LOCAL,1588570518965,9.0,True,00004171de2e758c4842,cbcfc171de2e75b52860,ffa48171de2e759e2825,docker_006,db_003,local_method_011
0,JDBC,1588570518965,3.0,True,00004171de2e758c4842,a52e4171de2e75b52863,cbcfc171de2e75b52860,docker_006,db_003,NaN
1,JDBC,1588570518972,2.0,True,00004171de2e758c4842,fa2fe171de2e75bc2880,cbcfc171de2e75b52860,docker_006,db_003,NaN
28,CSF,1588570518984,54.0,True,00004171de2e758c4842,1e068171de2e75c71834,6f699171de2e75921822,docker_004,NaN,csf_003
53,RemoteProcess,1588570518990,44.0,True,00004171de2e758c4842,73c90171de2e75ce2907,1e068171de2e75c71834,docker_006,NaN,csf_003
2,JDBC,1588570519004,2.0,True,00004171de2e758c4842,89bdd171de2e75dc2926,cbc31171de2e75dc2923,docker_006,db_003,NaN
32,LOCAL,1588570519004,11.0,True,00004171de2e758c4842,cbc31171de2e75dc2923,73c90171de2e75ce2907,docker_006,db_003,local_method_013
3,JDBC,1588570519012,2.0,True,00004171de2e758c4842,c77f4171de2e75e42943,cbc31171de2e75dc2923,docker_006,db_003,NaN
33,LOCAL,1588570519022,7.0,True,00004171de2e758c4842,cb38e171de2e75ee2953,73c90171de2e75ce2907,docker_006,db_003,local_method_014
4,JDBC,1588570519026,2.0,True,00004171de2e758c4842,6d325171de2e75f22970,cb38e171de2e75ee2953,docker_006,db_003,NaN
29,CSF,1588570519041,61.0,True,00004171de2e758c4842,ec8b7171de2e76011840,6f699171de2e75921822,docker_004,NaN,csf_004
54,RemoteProcess,1588570519045,56.0,True,00004171de2e758c4842,4d259171de2e76053004,ec8b7171de2e76011840,docker_006,NaN,csf_004
34,LOCAL,1588570519058,13.0,True,00004171de2e758c4842,b2de2171de2e76123027,4d259171de2e76053004,docker_006,db_003,local_method_015
5,JDBC,1588570519058,3.0,True,00004171de2e758c4842,57b70171de2e76123030,b2de2171de2e76123027,docker_006,db_003,NaN
6,JDBC,1588570519068,2.0,True,00004171de2e758c4842,bbcbf171de2e761c3053,b2de2171de2e76123027,docker_006,db_003,NaN
35,LOCAL,1588570519073,5.0,True,00004171de2e758c4842,cf1eb171de2e76213063,4d259171de2e76053004,docker_006,db_003,local_method_016
7,JDBC,1588570519075,2.0,True,00004171de2e758c4842,6375d171de2e76233069,cf1eb171de2e76213063,docker_006,db_003,NaN
30,CSF,1588570519104,26.0,True,00004171de2e758c4842,3c536171de2e763f1846,6f699171de2e75921822,docker_004,NaN,csf_005
55,RemoteProcess,1588570519106,23.0,True,00004171de2e758c4842,336e7171de2e76423087,3c536171de2e763f1846,docker_006,NaN,csf_005
36,LOCAL,1588570519113,7.0,True,00004171de2e758c4842,8fd44171de2e76493099,336e7171de2e76423087,docker_006,db_003,local_method_017
8,JDBC,1588570519113,2.0,True,00004171de2e758c4842,ae9e2171de2e76493102,8fd44171de2e76493099,docker_006,db_003,NaN
9,JDBC,1588570519118,2.0,True,00004171de2e758c4842,36fd3171de2e764e3111,8fd44171de2e76493099,docker_006,db_003,NaN
10,JDBC,1588570519131,1.0,True,00004171de2e758c4842,4cd5f171de2e765b1868,a0d50171de2e765b1863,docker_004,db_009,NaN
37,LOCAL,1588570519131,2.0,True,00004171de2e758c4842,a0d50171de2e765b1863,6f699171de2e75921822,docker_004,db_009,local_method_001
11,JDBC,1588570519132,1.0,True,00004171de2e758c4842,e7045171de2e765c1874,a0d50171de2e765b1863,docker_004,db_009,NaN
38,LOCAL,1588570519133,2.0,True,00004171de2e758c4842,65389171de2e765d1876,6f699171de2e75921822,docker_004,db_009,local_method_002
12,JDBC,1588570519134,1.0,True,00004171de2e758c4842,48a3e171de2e765e1884,65389171de2e765d1876,docker_004,db_009,NaN
39,LOCAL,1588570519135,2.0,True,00004171de2e758c4842,0d7f4171de2e765f1888,6f699171de2e75921822,docker_004,db_009,local_method_002
13,JDBC,1588570519136,1.0,True,00004171de2e758c4842,e6299171de2e76601891,0d7f4171de2e765f1888,docker_004,db_009,NaN
14,JDBC,1588570519137,1.0,True,00004171de2e758c4842,279be171de2e76611899,52591171de2e76611896,docker_004,db_009,NaN
40,LOCAL,1588570519137,1.0,True,00004171de2e758c4842,52591171de2e76611896,6f699171de2e75921822,docker_004,db_009,local_method_003
41,LOCAL,1588570519138,2.0,True,00004171de2e758c4842,bdf07171de2e76621903,6f699171de2e75921822,docker_004,db_009,local_method_004
15,JDBC,1588570519139,1.0,True,00004171de2e758c4842,6a194171de2e76631909,bdf07171de2e76621903,docker_004,db_009,NaN
42,LOCAL,1588570519140,2.0,True,00004171de2e758c4842,3743e171de2e76641913,6f699171de2e75921822,docker_004,db_009,local_method_004
16,JDBC,1588570519141,1.0,True,00004171de2e758c4842,0abff171de2e76651919,3743e171de2e76641913,docker_004,db_009,NaN
43,LOCAL,1588570519142,4.0,True,00004171de2e758c4842,08150171de2e76661923,6f699171de2e75921822,docker_004,db_009,local_method_004
17,JDBC,1588570519145,0.0,True,00004171de2e758c4842,466a8171de2e76691934,08150171de2e76661923,docker_004,db_009,NaN
44,LOCAL,1588570519146,12.0,True,00004171de2e758c4842,34d9b171de2e766a1941,6f699171de2e75921822,docker_004,db_009,local_method_004
18,JDBC,1588570519148,9.0,True,00004171de2e758c4842,d38af171de2e766c1956,34d9b171de2e766a1941,docker_004,db_009,NaN
45,LOCAL,1588570519159,3.0,True,00004171de2e758c4842,1d347171de2e76771966,6f699171de2e75921822,docker_004,db_009,local_method_005
19,JDBC,1588570519160,1.0,True,00004171de2e758c4842,0bdb7171de2e76781973,1d347171de2e76771966,docker_004,db_009,NaN
46,LOCAL,1588570519162,4.0,True,00004171de2e758c4842,4dec7171de2e767a1980,6f699171de2e75921822,docker_004,db_009,local_method_006
20,JDBC,1588570519165,0.0,True,00004171de2e758c4842,c1567171de2e767d1989,4dec7171de2e767a1980,docker_004,db_009,NaN
47,LOCAL,1588570519166,3.0,True,00004171de2e758c4842,35818171de2e767e1998,6f699171de2e75921822,docker_004,db_009,local_method_007
21,JDBC,1588570519168,0.0,True,00004171de2e758c4842,517b0171de2e76802008,35818171de2e767e1998,docker_004,db_009,NaN
48,LOCAL,1588570519170,3.0,True,00004171de2e758c4842,50cbd171de2e76812013,6f699171de2e75921822,docker_004,db_009,local_method_006
22,JDBC,1588570519172,0.0,True,00004171de2e758c4842,bc5dd171de2e76842024,50cbd171de2e76812013,docker_004,db_009,NaN
49,LOCAL,1588570519173,5.0,True,00004171de2e758c4842,1298b171de2e76852028,6f699171de2e75921822,docker_004,db_009,local_method_009
23,JDBC,1588570519177,1.0,True,00004171de2e758c4842,1e128171de2e76892041,1298b171de2e76852028,docker_004,db_009,NaN
50,LOCAL,1588570519179,82.0,True,00004171de2e758c4842,571d7171de2e768b2048,6f699171de2e75921822,docker_004,db_007,local_method_010
24,JDBC,1588570519179,2.0,True,00004171de2e758c4842,33267171de2e768b2051,571d7171de2e768b2048,docker_004,db_007,NaN
25,JDBC,1588570519257,3.0,True,00004171de2e758c4842,a2c9a171de2e76d92064,571d7171de2e768b2048,docker_004,db_007,NaN

In [62]:
df_tl = pd.read_csv('../data/train_data/trace_list.csv', header=None)

In [63]:
df_tl.head()

            0                                                  1
0      db_003  (('Start', 'osb_001'), ('osb_001', 'docker_002...
1      db_003  (('Start', 'osb_001'), ('osb_001', 'docker_001...
2     csf_005  (('Start', 'osb_001'), ('osb_001', 'docker_001...
3  docker_008  (('Start', 'osb_001'), ('osb_001', 'docker_002...
4      db_007  (('Start', 'osb_001'), ('osb_001', 'docker_002...